<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10"><h2><%= @user.name %> <%= @user.last_name %></h2>
    <ul class="nav nav-pills">
      <li role="presentation" class="enabled">
        <div><%= link_to 'Profile', profile_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Campaigns', campaigns_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Contributions', contributions_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Wishlists', u_wishlists_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Bank Account', bank_accounts_path %></div>
      </li>
    </ul>
    <hr>
    <h3>Bank Account Information</h3>
  <div class="container">
    <% @bank_accounts.where(user_id: current_user).each do |ba| %>
      <% if @bank_accounts.where(user_id: current_user).exists? %>
        <p><a class="btn btn-default btn-md" href="#" role="button">Already added</a></p>
      <% else %>
        <p><a class="btn btn-success btn-md" href="#" role="button" data-toggle="modal" data-target="#bankModal" style="color: white">Add bank account</a></p>
      <% end %>
      <div class="caption">
        <!-- Wishlist Modal -->
        <div id="bankModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You're adding a bank account: <%= @bank_accounts.account_number %> to your payment information</h4>
              </div>
              <div class="modal-body">
                <h5>Are you sure?</h5>
                <%= form_for BankAccount.new do |bank_account| %>
                  <%= bank_account.hidden_field :bank_accounts_id, :value => @bank_accounts.id %>
                  <%= bank_account.hidden_field :user_id, :value => current_user.id %>
              </div>
              <div class="modal-footer">
                <%= bank_account.submit "Add", class:"btn btn-primary" %>
                <% end %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>

  <div class="col-md-1"></div>
  </div>
</div>