<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10"><h2><%= @user.name %> <%= @user.last_name %></h2>

    <ul class="nav nav-pills">
      <li role="presentation" class="enabled">
        <div><%= link_to 'Profile', profile_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Campaigns', campaigns_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Contributions', contributions_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Wishlists', u_wishlists_path(@user) %></div>
      </li>
    </ul>
    <hr>
    <h3>Campaigns I'm participating</h3>

    <% @project.where(user_id: current_user, ).each do |project| %>

    <div class="container">
      <table>
        <tbody>
          <tr>
            <div class="row align-items-start">
              <div class="col">
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img <%= image_tag project.image %>
                    <div class="caption">
                      <h3><%= project.name%></h3>
                      <div class="btn btn-primary"><%= link_to 'Edit', edit_project_path(project),{:style => "color:#fff;"} %></div>
                      <div class="btn btn-danger"><%= link_to 'Destroy', project,  method: :delete, data: { confirm: 'Are you sure?'} %></div>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  <div class="col-md-1"></div>
  </div>
</div>
