<div class="row">
  <div class="col-md-1">

  </div>

  <div class="col-md-10"><h2><%= @user.name %> <%= @user.last_name %></h2>

    <ul class="nav nav-pills">
      <li role="presentation" class="enabled">
        <div><%= link_to 'Profile', profile_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Campaigns', campaigns_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Contributions', contributions_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Wishlists', u_wishlists_path(@user) %></div>
      </li>
    </ul>
    <hr>
    <h3>Contributions I'm funding</h3>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Campaign</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>

        <%= @backed_projects.where(user_id: current_user).each do |bk| %>
        <%= project = @project.find(bk.project_id)%>
        <tr>
          <th scope="row">1</th>
          <th><%= bk.created_at %></th>
          <th><%= project.name %></th>
          <th><%= bk.amount %></th>

        </tr>
      <% end %>

      </tbody>
    </table></div>

  <div class="col-md-1"></div>

</div>


