<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10"><h2><%= @user.name %> <%= @user.last_name %></h2>
    <ul class="nav nav-pills">
      <li role="presentation" class="enabled">
        <div><%= link_to 'Profile', profile_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Campaigns', campaigns_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Contributions', contributions_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Wishlists', u_wishlists_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Bank Account', bank_accounts_path %></div>
      </li>
    </ul>
    <hr>
    <h3>Bank Account Information</h3>
  <%= link_to 'New Bank Account', new_bank_account_path %>



  <div class="col-md-1"></div>
  </div>
</div>