<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10"><h2><%= @user.name %> <%= @user.last_name %></h2>

    <ul class="nav nav-pills">
      <li role="presentation" class="enabled">
        <div><%= link_to 'Profile', profile_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Campaigns', campaigns_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Contributions', contributions_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Wishlists', u_wishlists_path(@user) %></div>
      </li>
      <li role="presentation" class="enabled" style="margin-left: 10px">
        <div><%= link_to 'Bank Account', u_bank_accounts_path %></div>
      </li>
    </ul>
    <hr>
    <h3>My Wishlist</h3>

    <div class="row align-items-center">
      <div class="col-lg-10">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Campaign</th>
            <th scope="col">Goal / Percentage</th>
          </tr>
          </thead>
          <tbody>
          <%i=1 %>
          <% @wishlists.where(user_id: current_user).each do |wish| %>
            <% project = @project.find(wish.project_id)%>
            <tr>
              <th scope="row"><%= i %></th>
              <td><%= link_to project.name, project %></td>
              <td><%= project.goal_amount %></td>
            </tr>
            <% i = i + 1%>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>





