<h1><%= image_tag("logo.png", width: '150px') %></h1>

<h2>Gianluca Fenzo</h2>
<h2>Gianluca Troncossi</h2>
<p>Fund this</p>
<body>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><%= link_to "New User", new_user_path, class: 'btn btn-small btn-info' %></li>
    <li><%= link_to "View All Users", users_path, class: 'btn btn-small btn-info' %></li>
    <li><%= link_to "New Project", new_project_path, class: 'btn btn-small btn-info' %></li>
    <li><%= link_to "View All Projects", projects_path, class: 'btn btn-small btn-info' %></li>
  </ul>
</body>