<%= form_for @project, html: {multipart: true}  do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>First tell us the name of your new project:</h2>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>
  <div>
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image, id: :project_images %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="field">
        <%= form.label :video %>
        <%= form.file_field :video, id: :project_video %>
      </div>
    </div>
  </div>

  <h2>Now let's add a description</h2>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <h2>Add a project email!</h2>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :project_email %>
  </div>

  <h2>Until when will last this project?</h2>
  <div class="field">
    <%= form.label :project_date %>
    <%= form.date_select :project_date, id: :project_project_date %>
  </div>

  <h2>What's the goal amount?</h2>
  <div class="field">
    <%= form.label :goal_amount %>
    <%= form.text_field :goal_amount, id: :project_goal_amount %>
  </div>

  <div>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <% if user_signed_in? && current_user.role == 1 %>
    <h2>This project is outstanding? (0 = NO, 1 = YES)</h2>
    <div class="field">
      <%= form.label :outstanding %>
      <%= form.text_field :outstanding, id: :project_outstanding %>
    </div>
  <% end %>

  <hr>

  <div class="actions">
    <%= form.submit %> <strong style="color: cornflowerblue"><-- Welcome to the YoungBlood Family!</strong>
  </div>
<% end %>
