<style type="text/css">
  .jumbotron{
    margin-top: 20px;
    background-image: url("http://backgroundcheckall.com/wp-content/uploads/2017/12/generic-background-5.jpg");
    background-size: auto;
  }
</style>
<div class="jumbotron">
  <h1 style="color: white; margin-left: 3%">
    <%= @project.name %>
  </h1>
</div>
<div class="container-fluid" style="margin-left: 0.5%">
  <div class="row">
    <div class="col-lg-6">
      <% if user_signed_in? && current_user.id == @project.user_id %>
        <li>
          <p><a class="btn btn-success btn-md" href="#" role="button" data-toggle="modal" data-target="#addPromiseModal" style="color: white">Add promise</a></p>
        </li>
      <% end %>
      <h2 style="color: black; margin-left: 0.5%">
        Money raised <%= @amount %> / <%= @project.goal_amount %>
      </h2>
      <div class="progress" style="max-width: 50%">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= (@amount.to_f/@project.goal_amount.to_f).to_f*100 %>%" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@amount.to_f/@project.goal_amount.to_f).to_f*100 %>%;">
          <span class="sr-only"><%= (@amount.to_f/@project.goal_amount.to_f).to_f*100 %>% Complete</span>
        </div>
      </div>
      <h4>Raised by: <%= @backer_count %> transactions.</h4> <!--Insert ruby to check number of backers-->
      <h3>This project was created by: <%= @project.user.name %> </h3> <!--Insert ruby to check creators-->
      <p><a class="btn btn-primary btn-lg" href="#" role="button" style="color: white" data-toggle="modal" data-target="#fundModal">Donate to project</a></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" style="color: white" data-toggle="modal" data-target="#promiseModal">Fund a Promise</a></p>
      <% if @wishlists.where(user_id: current_user, project_id: @project.id).exists? %>
        <p><a class="btn btn-default btn-md" href="#" role="button">Already added</a></p>
      <% else %>
        <p><a class="btn btn-success btn-md" href="#" role="button" data-toggle="modal" data-target="#wishModal" style="color: white">Add to wishlist</a></p>
      <% end %>
      <h5><strong>Contact e-mail:</strong> <%= @project.email %></h5>
    </div>


    <div class="col-lg-6">
      <video width="64%" height="36%" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

<div class="container" style="margin-left: 0.5%; margin-top: 15px; box-shadow: 5px 5px 2.5px grey">
  <p>
    <strong style="font-size: large">Description:</strong>
  </p>
  <p style="font-size: medium">
    <%= @project.description %>
  </p>

</div>

<div class="container" style="margin-left: 0.5%; margin-top: 15px; box-shadow: 5px 5px 2.5px grey">
  <p style="font-size: medium">
    <strong style="font-size: large">Promises:</strong>
    <% @promises.each do |promise| %>
      <h3> Name: <%= promise.name %> </h3>
      <h4> Price: <%= promise.price %> </h4>
      <h5> Description: <%= promise.description %> </h5>
    <% end %>
  </p>

</div>




<div class="container" style="margin-left: 0.5%; margin-top: 15px">
  <div class="row">
    <% project = @project%>
    <div class="col-lg-3">
      <img <%= image_tag project.image %>
    </div>

  </div>
</div>

<p style="margin-top: 60px">
<h2><strong>Project date: </strong><%= @project.project_date %></h2>
</p>
<% if user_signed_in? %>
  <!-- FundModal -->
  <div id="fundModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You're doing a donation to the project: <%= @project.name %></h4>
        </div>
        <div class="modal-body">
          <%= form_for BackedProject.new do |bk| %>
            <%= bk.hidden_field :project_id, :value => @project.id %>
            <%= bk.hidden_field :user_id, :value => current_user.id %>
            <%= label_tag("Amount") %>
            <%= bk.text_field :amount %>
            <%= label_tag("Payment method?") %>
            <%= bk.collection_select :bank_account_id, BankAccount.where(user_id: current_user).order(:account_type),:id,:account_type, include_blank: true %>
        </div>
        <div class="modal-footer">
          <%= bk.submit "Create", class:"btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- PromisefundModal -->
  <div id="promiseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You're buying a promise of this project: <%= @project.name %></h4>
        </div>
        <div class="modal-body">
          <%= form_for BackedProject.new do |pk| %>
            <%= pk.hidden_field :project_id, :value => @project.id %>
            <%= pk.hidden_field :user_id, :value => current_user.id %>
            <%= label_tag("Select your promise") %>
            <%= pk.collection_select :promise_id, Promise.order(:name),:id,:name, include_blank: true %>
            <%= label_tag("Confirm your selection") %>
            <%= pk.collection_select :amount, Promise.order(:name),:price,:name, include_blank: true %>
            <%= label_tag("Payment method?") %>
            <%= pk.collection_select :bank_account_id, BankAccount.where(user_id: current_user).order(:account_type),:id,:account_type, include_blank: true %>
            </div>
            <div class="modal-footer">
              <%= pk.submit "Create", class:"btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </div>

    </div>
  </div>

  <!-- AddPromiseModal -->
  <div id="addPromiseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You're creating a promise for the project: <%= @project.name %></h4>
        </div>
        <div class="modal-body">
          <%= form_for Promise.new do |pr| %>
            <%= label_tag("Name") %>
            <%= pr.text_field :name %>
            <%= label_tag("Price") %>
            <%= pr.text_field :price %>
            <%= label_tag("Description") %>
            <%= pr.text_area :description %>
            <%= label_tag ("Delivery Date") %>
            <%= pr.date_select :estimated_delivery, id: :promise_estimated_delivery %>
            <%= pr.hidden_field :project_id, :value => @project.id %>
            </div>
            <div class="modal-footer">
              <%= pr.submit "Create", class:"btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </div>

    </div>
  </div>

  <!-- Wishlist Modal -->
  <div id="wishModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">You're adding the project: <%= @project.name %> to your wishlist</h4>
        </div>
        <div class="modal-body">
          <h5>Are you sure?</h5>
          <%= form_for Wishlist.new do |wl| %>
            <%= wl.hidden_field :project_id, :value => @project.id %>
            <%= wl.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="modal-footer">
              <%= wl.submit "Add", class:"btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </div>

    </div>
  </div>

<% end %>




<!--<p style="margin-top: 60px">
  <strong>Video:</strong>
  <%= @project.video %>
</p>

<p>
  <strong>Images:</strong>
  <%= @project.images %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Goal amount:</strong>
  <%= @project.goal_amount %>
</p>-->

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Back Home', home_index_path %>
