<p id="notice"><%= notice %></p>

<style type="text/css">
  .jumbotron{
    margin-top: 20px;
    background-image: url("http://backgroundcheckall.com/wp-content/uploads/2017/12/generic-background-5.jpg");
    background-size: auto;
  }
</style>
<div class="jumbotron">
  <h1 style="color: white; margin-left: 3%">
    <%= @project.name %>
  </h1>
</div>
<div class="container-fluid" style="margin-left: 0.5%">
  <div class="row">
    <div class="col-lg-6">
      <h2 style="color: black; margin-left: 0.5%">
        Money raised  / <%= @project.goal_amount %>
      </h2>
      <div class="progress" style="max-width: 50%">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
      <h4>Raised by: <%= @project.goal_amount %> backers.</h4> <!--Insert ruby to check number of backers-->
      <h3>This project was created by: <%= @project.user.name %> </h3> <!--Insert ruby to check creators-->
      <p><a class="btn btn-primary btn-lg" href="#" role="button" style="color: white" data-toggle="modal" data-target="#fundModal">Back project</a></p>
      <p><a class="btn btn-default btn-md" href="#" role="button">Learn more</a></p>
      <h5><strong>Contact e-mail:</strong> <%= @project.email %></h5>
    </div>


    <div class="col-lg-6">
      <video width="64%" height="36%" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

<div class="container" style="margin-left: 0.5%; margin-top: 15px; box-shadow: 5px 5px 2.5px grey">
  <p>
    <strong style="font-size: large">Description:</strong>
  </p>
  <p style="font-size: medium">
    <%= @project.description %>
  </p>

</div>


<div class="container" style="margin-left: 0.5%; margin-top: 15px">
  <div class="row">
    <div class="col-lg-3">
      <img class="img-responsive" style="box-shadow: 5px 5px 2.5px cornflowerblue" src="https://raw.githubusercontent.com/UANDES-4103-201810/course-project-youngbloodfunding/master/app/assets/images/logo.png" alt="Chania" width="95%" height="95%">
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" style="box-shadow: 5px 5px 2.5px cornflowerblue" src="https://raw.githubusercontent.com/UANDES-4103-201810/course-project-youngbloodfunding/master/app/assets/images/logo.png" alt="Chania" width="95%" height="95%">
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" style="box-shadow: 5px 5px 2.5px cornflowerblue" src="https://raw.githubusercontent.com/UANDES-4103-201810/course-project-youngbloodfunding/master/app/assets/images/logo.png" alt="Chania" width="95%" height="95%">
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" style="box-shadow: 5px 5px 2.5px cornflowerblue" src="https://raw.githubusercontent.com/UANDES-4103-201810/course-project-youngbloodfunding/master/app/assets/images/logo.png" alt="Chania" width="95%" height="95%">
    </div>
  </div>
</div>

<p style="margin-top: 60px">
<h2><strong>Project date: </strong><%= @project.project_date %></h2>
</p>

<!-- Modal -->
<div id="fundModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You're doing a donation to the project: <%= @project.name %></h4>
      </div>
      <div class="modal-body">
        <%= form_for BackedProject.new do |bk| %>
          <%= bk.hidden_field :project_id, :value => @project.id %>
          <%= bk.hidden_field :user_id, :value => current_user.id %>
          <%= label_tag("Amount") %>
          <%= bk.text_field :amount %>
      </div>
      <div class="modal-footer">
        <%= bk.submit "Create", class:"btn btn-primary" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<!--<p style="margin-top: 60px">
  <strong>Video:</strong>
  <%= @project.video %>
</p>

<p>
  <strong>Images:</strong>
  <%= @project.images %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Goal amount:</strong>
  <%= @project.goal_amount %>
</p>-->

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Back Home', home_index_path %>
