<p id="notice"><%= notice %></p>

<p>
  <strong>Account type:</strong>
  <%= @bank_account.account_type %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @bank_account.bank_name %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', u_bank_accounts_path %>
