<!DOCTYPE html>
<html>
  <head>
    <title>Youngbloodfunding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #F7F7F7">

  <script>
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '179273179456744',
              cookie     : true,
              xfbml      : true,
              version    : 'v3.0'
          });

          FB.AppEvents.logPageView();

      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/home/index">
            <%= image_tag("logo.png", width: '70px') %>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/projects">Projects <span class="sr-only">(current)</span></a></li>
            <% if user_signed_in? && current_user.role == 1 %>
              <li>
                <div class="btn btn-primary" style="margin-top: 9%; margin-left: 10px"><%= link_to "Admin menu", admin_path, {:style => "color:#fff;"} %></div>
              </li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">


            <!--<li><a href="/users/sign_in">Log In</a></li>
            <li><a href="/users/sign_up">Sign Up</a></li>
            <li><a href="/users/sign_out">logout</a></li>-->

            <% if user_signed_in? %>
              <li><div class="btn btn-primary" style="margin-top: 5%"><%= link_to "Start your campaign", new_project_path, {:style=>"color:#fff;"} %></div></li>
              <li><%= link_to "Profile", current_user %>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>

            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>




            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>-->
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <ul class="nav navbar-nav">
        <li class="active" ><a href="#" data-toggle="modal" data-target="#contactModal">Contact Us <span class="sr-only">(current)</span></a></li>
      </ul>
    </nav>
    <!-- Modal -->
    <div id="contactModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h2>Hey! contact us at the following email: fake@email.com</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <% flash.each do |type, msg| %>
          <% if type == "notice" %>
            <div class="alert alert-success">
          <% elsif type == "alert" %>
            <div class="alert alert-danger">
          <% else %>
            <div class='alert alert-<%= "#{type}" %>'>
          <% end %>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <ul>
            <li>
              <%= msg %>
            </li>
          </ul>
        <% end %>
        </div>
        </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
