
<p>
  <strong>Project id:</strong>
  <%= @promise.project.id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promise.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @promise.estimated_delivery %>
</p>

<%= link_to 'Edit', edit_promise_path(@promise) %> |
<%= link_to 'Back', projects_path %>
